/* styles/page.module.css */
@import url(https://db.onlinewebfonts.com/c/831e1f4da157d96bc996f8c9f5f1e578?family=Pokemon+GB);

.container {
  font-family: "Pokemon GB";
  font-size: 1rem;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 222, 179);
  min-height: 100vh;
  position: relative;
}

.main {
  text-align: center;
}

.title {
  margin-bottom: 1%;
  color: black;
  padding-top: 2rem;
}

.highlight {
  color: red;
}

.description {
  color: black;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.clickMessage {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: blue;
  cursor: pointer;
}

.imageContainer {
  margin-top: 10rem;
}

.inputContainer {
  margin-top: 14rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
}

.inputContainer input {
  font-family: "Pokemon GB";
  font-size: 0.75rem;
  border: 0.2rem solid black;
  background-color: white; 
  border-radius:  0.625rem;
  border-color: black;
  color: black;
  width: 18.75rem; 
  height: 2.5rem; 
  font-weight: bolder;
  padding-left: 1rem;
}

.inputContainer button {
  font-family: "Pokemon GB";
  padding: 0.625rem;
  display: flex;
  margin-top: 1rem;
  transform: translateX(75%);
  border-radius: 2rem;
  border-color: black;
}


.notfoundContainer {
  justify-content: center;
  align-items: center; 
  font-weight: bolder;
  color: black;
  margin-top: 15rem;
}

.notfoundContainer button{
  font-family: "Pokemon GB";
  padding: 0.625rem;
  border-radius: 2rem;
  display: flex;
  width: 5rem;
  margin-top: 2rem;
  justify-content: center;
  transform: translateX(250%);
  border-color: black;
}

.contentContainer {
  width: 20rem;
  height: 10rem;
  border-radius: 2rem;
  border-color: black;
  border-style: solid;
  margin-top: 3rem;
  height: 30rem;
  background-color: white;
  color: black;
}

.Name {
  margin-top: 1rem;
}

.contentDetailContainer {
  border-radius: 2rem;
  border: 2px solid black;
  margin-top: 3rem;
  max-height: 30rem;
  width: 60rem;
  background-color: white;
  color: black;
  padding: 1rem;
  position: relative;
}

.contentDetailContainer .Name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contentDetailContainer .pokemonDetail {
  margin-top: 1rem;
  font-size: 0.7rem;
  text-align: left;
}

.contentDetailContainer .pokemonDetail p {
  margin-bottom: 1rem;
}

.contentDetailContainer .key {
  font-weight: bold;
}

.backContentBtn {
  position: absolute;
  display: flex;
  font-family: "Pokemon GB";
  padding: 0.625rem;
  border-radius: 2rem;
  width: 5rem;
  justify-content: center;
  align-items: center;
  border-color: black;
  margin-top: 2rem;
  transform: translateX(550%);
}

.imagePokemon {
  margin-top: 2rem;
}

.typePokemon {
  margin-top: 1rem;
  font-size: 0.75rem;
  font-weight: bolder;
}

.typeValue {
  margin-top: 1rem;
  font-weight: lighter;
}

.detailBtn {
  font-size: 0.75rem;
  display: flex;
  font-family: "Pokemon GB";
  padding: 0.625rem;
  border-radius: 2rem;
  width: 10rem;
  justify-content: center;
  align-items: center;
  border-color: black;
  transform: translateX(50%);
  margin-top: 1rem;
}

.evolveBtn {
  font-size: 0.75rem;
  position: absolute;
  display: flex;
  font-family: "Pokemon GB";
  padding: 0.625rem;
  border-radius: 2rem;
  width: 10rem;
  justify-content: center;
  align-items: center;
  border-color: black;
  transform: translateX(50%);
  margin-top: 1rem;
}

.closeContentBtn {
  position: absolute;
  bottom: 0;
  display: flex;
  font-family: "Pokemon GB";
  padding: 0.625rem;
  border-radius: 2rem;
  width: 5rem;
  justify-content: center;
  align-items: center;
  border-color: black;
  margin-bottom: 5rem;
  transform: translateX(150%);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
