/* styles/page.module.css */
@import url(https://db.onlinewebfonts.com/c/831e1f4da157d96bc996f8c9f5f1e578?family=Pokemon+GB);

.container {
  font-family: "Pokemon GB";
  font-size: 3 rem;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 222, 179);
  min-height: 100vh; /* set the minimum height to be the full height of the viewport */
}

.main {
  text-align: center;
}

.title {
  margin-bottom: 1%;
  color: black; 
  padding-top: 2rem;
}

.highlight {
  color: red;
}

.description {
  color: black;
}


.image {
  align-items: center;
  margin-top: 15rem;
}

.footer {
  text-align: center;
  margin-top: 20rem;
  color: black;
}